.popup {
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup_item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.popup-img {
	height: 350px;
	margin: auto;
}

.popup_name {
	font-size: 1.5rem;
	color: var(--text);
	text-align: center;
	margin: 6px;
}
.popup_category {
	font-size: small;
	color: var(--orange);
}
.popup_info {
	margin-top: 5px;
}

.popup_price {
	margin-top: 10px;
	margin-bottom: 20px;
	color: var(--text);
}

.popup_close {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	font-size: 1rem;
	cursor: pointer;
}

.popup_btn {
	border: 1px solid var(--orange);
	padding: 4px 10px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.popup_btn span {
	text-align: center;
	columns: white;
	cursor: pointer;
}

@media (max-width: 800px) {
	.popup {
		display: block;
		width: 100%;
	}
}
